body {
	font-family: Helvetica;
	font-weight: bold;
	font-size: 30px;
	color: white;
	background-color: #000000;
	margin: 0;
}


a:link {
	color: white;
	text-decoration: none;
}

a:visited { color: white; }
a:hover { color: #009933; }
a:active { color: #009933; }

.top {
	position: relative;
	z-index: 1000;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
}

.time {
	display: inline-block;
	padding: 30px;
}

.current a:link {
	color: #009933;
}


.horizontal {
	position: fixed;
	top:20%;
	left: 0;
	right: 0;
}

.horizontal-2 {
	position: fixed;
	top:50%;
	left: 0;
	right: 0;
}

.horizontal-3 {
	position: fixed;
	top:70%;
	left: 0;
	right: 0;
}
