.fruit { 
	height: 100px; 
	width: 100px;
	background-size: cover;
}

.banana { background-image: url(../../assets/img/banana.png); }
.apple { background-image: url(../../assets/img/apple.jpg); }
.grapes { background-image: url(../../assets/img/grapes.jpg); }