body {
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
}

.yellow {
	width: 768px;
	height: 768px;
	position: relative;
	background: #F8E71C;
	margin: 0 auto;
}

.blue {
	width: 568px;
	height: 568px;
	background: #202665;
	position: absolute;
  	top: 50%; left: 50%;
  	transform: translate(-50%,-50%);
}

.red1 {
	width: 768px;
	height: 100px;
	background: #D0021B;
	position: absolute;
	bottom: 0;
}

.green {
	width: 368px;
	height: 368px;
	background: #009E4F;
	position: absolute;
	top: 50%; left: 50%;
  	transform: translate(-50%,-50%);
}

.red2 {
	width: 328px;
	height: 67px;
	background: #ED2025;
	position: absolute;
	margin: 0 20px 0 20px;
}

.one { top: 20px; }

.two { top: 107px; }

.three { bottom: 107px; }

.four { bottom: 20px; }

